<style>
	canvas{display:none;}
	ul{
		width:90%;
		margin: 0 auto;
		padding:0;
	}
	ul li{
		list-style: none;
		display: inline-block;
		text-align: center;
		width:33.33%;
		margin:0 auto 2%;
		float: left
	}
	ul li img{
		width:96%;
		margin:2%: 
	}
	.moveBlock{
		width:200px;
		height: 200px;
		background: #0AF;
	} 
	.draggable:hover{
		z-index: 200;
	}
</style>
<canvas id="pintu" ></canvas>
<ul id="game">
    <li><img src="" alt="" id="0" class="draggable"></li>
    <li><img src="" alt="" id="1" class="draggable"></li>
    <li><img src="" alt="" id="2" class="draggable"></li>
    <li><img src="" alt="" id="3" class="draggable"></li>
    <li><img src="" alt="" id="4" class="draggable"></li>
    <li><img src="" alt="" id="5" class="draggable"></li>
    <li><img src="" alt="" id="6" class="draggable"></li>
    <li><img src="" alt="" id="7" class="draggable"></li>
    <li><img src="" alt="" id="8" class="draggable"></li>
<ul/>


<script type="text/javascript" src="/scripts/js/pintu.js"></script>